{% extends './base.html' %}
{% load static %}
{% block content-block %}
    {% if not request.session.session_id %}
     <script>
        alert('로그인을 하셔야 접근이 가능합니다.')
        location.href = "{% url 'member:login' %}"
     </script>
  {% endif %}
  <script>
    function delBtn(){
      if(confirm("정말 삭제하시겠습니까?")){
        location.href="{% url 'freeBoard:fboardDelete' nowpage category sword fboard.b_no %}"
      }
    }
  </script>
    <h1>리뷰게시판</h1>

    <table>
      <tr>
        <th><strong>제목</strong><span class="separator">|</span>{{fboard.b_title}}</th>
      </tr>
      <tr>
        <td><strong>작성자</strong><span class="separator">|</span>{{fboard.member.name}}</td>
      </tr>
      <tr>
        <td><strong>날짜</strong><span class="separator">|</span>{{fboard.b_date|date:'Y-m-d H:i'}}</td>
      </tr>
      <tr>
        <td><strong>내용</strong><span class="separator">|</span>{{fboard.b_content | safe }}</td>
      </tr>
      <tr>
        <td class="article">
          <img src="/media/{{fboard.b_file}}" alt="" width="80%">
        </td>
      </tr>
      <tr>
        <td><strong>다음글</strong> <span class="separator">|</span>
          <a href="{% url 'freeBoard:fboardView' nowpage category sword fboardNext.b_no  %}">{{fboardNext.b_title}}</a>
        </td>
      </tr>
      <tr>
        <td><strong>이전글</strong> <span class="separator">|</span>
          <a href="{% url 'freeBoard:fboardView' nowpage category sword fboardPrev.b_no  %}">{{fboardPrev.b_title}}</a>
        </td>
      </tr>
    </table>

    <a href="{% url 'freeBoard:fboardList' nowpage category sword %}"><div class="list" >목록</div></a>
    <div class="list" onclick="delBtn()">삭제</div>
    <a href="{% url 'freeBoard:fboardUpdate' nowpage category sword fboard.b_no %}"><div class="list">수정</div></a>
    <a href="{% url 'freeBoard:fboardReply' nowpage category sword fboard.b_no %}"><div class="list">답글쓰기</div></a>
  {% endblock content-block %}