{% extends './base.html' %}
{% load static %}
{% block content-block %}
  <section>
    <h1>리뷰게시판</h1>
    <div class="wrapper">
      <form action="{% url 'freeBoard:fboardList' nowpage category sword %}" name="search" method="post">
        {% csrf_token %}
        <select name="category" id="category" >
          <option value="all" {% if 'all' in category %}selected {% endif %}>전체</option>
          <option value="title" {% if 'title' in category %}selected {% endif %}>제목</option>
          <option value="content" {% if 'content' in category %}selected {% endif %}>내용</option>
        </select>

        <div class="title">
          {% if '1' in category %}
            <input type="text" size="16" name="sword" id="sword" value="">
          {% else %}
            <input type="text" size="16" name="sword" id="sword" value="{{sword}}">
          {% endif %}
        </div>
        <button type="button" onclick="searchBtn()"><i class="fas fa-search"></i></button>
      </form>
    </div>

    <table>
      <colgroup>
        <col width="15%">
        <col width="45%">
        <col width="15%">
        <col width="15%">
        <col width="10%">
      </colgroup>
      <tr>
        <th>No.</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
      </tr>
      <!-- 반복 시작 -->
      {% for fboard in fboardList %}
      <tr>
        <td>{{fboard.b_no}}</td>
        <td class="table-title">
          {% comment %} <a href="freeBoard/fboardView?nowpage={{nowpage}}&b_no={{fboard.b_no}}"> {% endcomment %}
          <a href="{% url 'freeBoard:fboardView' nowpage category sword fboard.b_no %}">
            {% if fboard.b_indent > 0 %}
              {% comment %} rjust:공백제거후 fboard.b_indent만큼 리스트처리해줌 {% endcomment %}
              {% for i in "x"|rjust:fboard.b_indent %}
                ▶ 
              {% endfor %}
            {% endif %}
            {{fboard.b_title}}
          </a>
        </td>
        <td>{{fboard.member.name}}</td>
        <td>{{fboard.b_date|date:'Y-m-d H:i'}}</td>
        <td>{{fboard.b_hit}}</td>
      </tr>
      {% endfor %}
      <!-- 반복 끝 -->
    </table>

    <ul class="page-num">
      {% if fboardList.has_previous %}
        <a href="{% url 'freeBoard:fboardList' 1 category sword %}"><li class="first"></li></a>
        <a href="{% url 'freeBoard:fboardList' fboardList.previous_page_number category sword %}"><li class="prev"></li></a>
      {% else %}
        <li class="first"></li>
        <li class="prev"></li>
      {% endif %}
      <!-- 페이지처리 -->
      {% for page in fboardList.paginator.page_range %}
        {% if page == nowpage %}
          <li class="num numOver"><div>{{page}}</div></li>
        {% else %}
            <li class="num">
              <a href="{% url 'freeBoard:fboardList' page category sword %}"><div>{{page}}</div></a>
            </li>
        {% endif %}
      {% endfor %}
      <!--  페이지처리 끝 -->
      {% if fboardList.has_next %}
        <a href="{% url 'freeBoard:fboardList' fboardList.next_page_number category sword %}"><li class="next"></li></a>
        <a href="{% url 'freeBoard:fboardList' fboardList.paginator.num_pages category sword %}"><li class="last"></li></a>
      {% else %}
      <li class="next"></li>
      <li class="last"></li>
      {% endif %}
      
    </ul>

    <div class="write" onclick="writeBtn()">쓰기</div>
  </section>
  {% endblock content-block %}