{% extends './base2.html' %}
{% load static %}
{% block content-block %}
    <h1>관리자 글쓰기</h1>
    <hr>

    <form action="{% url 'freeBoard:fboardWrite' nowpage category sword %}" name="write" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="title" id="title">
          </td>
        </tr>
        <tr>
          <th>작성자</th>
          <td>
            <input type="text" name="id" value="{{request.session.session_id }}" readonly >
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
            <textarea name="content" cols="50" rows="10"></textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="file" id="file">
          </td>
        </tr>
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="button" onclick="writeBtn()" class="write">작성완료</button>
        <button type="button" onclick="cancelBtn()" class="cancel">취소</button>
      </div>
    </form>
  {% endblock content-block %}