{% extends './base2.html' %}
{% load static %}
{% block content-block %}
    <h1>게시판 수정</h1>
    <hr>

    <form action="{% url 'freeBoard:fboardUpdate' nowpage category sword fboard.b_no %}" name="write" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        <colgroup>
          <col width="15%">
          <col width="85%">
        </colgroup>
        <tr>
          <th>제목</th>
          <td>
            <input type="text" name="title" id="title" value={{fboard.b_title}}>
          </td>
        </tr>
        <tr>
          <th>작성자</th>
          <td>
            <input type="text" name="id" value="{{request.session.session_id }}" readonly >
          </td>
        </tr>
        <tr>
          <th>내용</th>
          <td>
            <textarea name="content" cols="50" rows="10">{{fboard.b_content}}</textarea>
          </td>
        </tr>
        <tr>
          <th>이미지 표시</th>
          <td>
            <input type="file" name="file" id="file">
          </td>
        </tr>
        <tr>
          <th>파일이름</th>
          {% if fboard.b_file %}
            <td>{{fboard.b_file}}</td>
            <input type="hidden" name="refile" value="{{fboard.b_file}}">
          {% else %}
            <td>데이터 없음</td>
          {% endif %}
        </tr>
      </table>
      <hr>
      <div class="button-wrapper">
        <button type="button" onclick="updateBtn()" class="write">수정</button>
        <button type="button" onclick="cancelBtn()" class="cancel">취소</button>
      </div>
    </form>
    {% endblock content-block %}